<h1>
    Similarity Finder
</h1>
<h4></h4>
<%= flash[:notice] %>
<table>
    <thead>
        <tr>
            <th>test#</th>
            <th>image1</th>
            <th>image2</th>
            <th>similarity</th>
            <th>elaspsed</th>
        </tr>
    </thead>
    <tbody>
        <% @tests.each do |test| %>
            <tr>
                <th><%= test.test %></th>
                <th><%= test.image1 %></th>
                <th><%= test.image2 %></th>
                <th><%= test.similar %></th>
                <th><%= test.elapse %></th>
            </tr>
        <% end %>
    </tbody>
</table>
<div>
    <h4>Please import the CSV</h4>
    <%= form_tag import_tests_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Submit CSV" %>
<% end %>
<%= button_to 'Press me', redirect_to(index), delete: :get %>
</div>
